body {
    background: pink;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background:pink(239, 80, 41);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: purple;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image:none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background:rgb(245, 238, 219);
    display: flex;
    border:double;
    border-color:plum;
    border-radius:20px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 150px;
    border-style:none;
    border-radius:20px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
  .content h1 {
     border-style:double;
     border-color:#a874a8;
     border-radius:10px;
    color: black, 25, 25;
}

#portfolio {
     background-color:pink;
    list-style-type: none;
    padding-left:0;
    border:none;
    border-radius:20px
}

#portfolio li {
    background:none;
    padding: 10px;
    border-style:none;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}
/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}